.btn {
    font-weight:bolder;
    color: white;
}

.btn-icon {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

.btn-L {
    font-size: 1.5rem;
    padding: 1.25rem 3rem;
}

.btn-M {
    font-size: 1rem;
    padding: 0.75rem 2rem;
}

.btn-S {
    font-size: 0.875rem;
    padding: 0.5rem 1.5rem;
}

.btn-primary {
    background-color: #6A0C00;
    /* dark red */
}

.btn-secondary {
    background-color: #7D7B7B;
    /* grey */
}