/*Margin*/

.m-0 {
    margin: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mr-1 {
    margin-right: 0.5rem;
}

.mr-2 {
    margin-right: 1rem;
}

.mr-3 {
    margin-right: 2rem;
}

.mr-4 {
    margin-right: 3rem;
}

.mr-5 {
    margin-right: 5rem;
}

.mr-6 {
    margin-right: 7rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 3rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-6 {
    margin-bottom: 7rem;
}

.ml-1 {
    margin-left: 0.5rem;
}

.ml-2 {
    margin-left: 1rem;
}

.ml-3 {
    margin-left: 2rem;
}

.ml-4 {
    margin-left: 3rem;
}

.ml-5 {
    margin-left: 5rem;
}

.ml-6 {
    margin-left: 7rem;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 2rem;
}

.mt-4 {
    margin-top: 3rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-6 {
    margin-top: 7rem;
}

.m-1 {
    margin: 0.5rem;
}

.m-2 {
    margin: 1rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 5rem;
}

.m-6 {
    margin: 7rem;
}

/*Padding*/

.p-0 {
    padding: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pr-1 {
    padding-right: 0.5rem;
}

.pr-2 {
    padding-right: 1rem;
}

.pr-3 {
    padding-right: 2rem;
}

.pr-4 {
    padding-right: 3rem;
}

.pr-5 {
    padding-right: 5rem;
}

.pr-6 {
    padding-right: 7rem;
}

.pb-1 {
    padding-bottom: 0.5rem;
}

.pb-2 {
    padding-bottom: 1rem;
}

.pb-3 {
    padding-bottom: 2rem;
}

.pb-4 {
    padding-bottom: 3rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

.pb-6 {
    padding-bottom: 7rem;
}

.pl-1 {
    padding-left: 0.5rem;
}

.pl-2 {
    padding-left: 1rem;
}

.pl-3 {
    padding-left: 2rem;
}

.pl-4 {
    padding-left: 3rem;
}

.pl-5 {
    padding-left: 5rem;
}

.pl-6 {
    padding-left: 7rem;
}

.pt-1 {
    padding-top: 0.5rem;
}

.pt-2 {
    padding-top: 1rem;
}

.pt-3 {
    padding-top: 2rem;
}

.pt-4 {
    padding-top: 3rem;
}

.pt-5 {
    padding-top: 5rem;
}

.pt-6 {
    padding-top: 7rem;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 5rem;
}

.p-6 {
    padding: 7rem;
}

/*Border*/
.b1-s {
    border: 1px solid;
}

.b1-s-t {
    border-top: 1px solid;
}

.b1-s-r {
    border-right: 1px solid;
}

.b1-s-b {
    border-bottom: 1px solid;
}

.b1-s-l {
    border-left: 1px solid;
}

.b2-s {
    border: 2px solid;
}

.b2-s-t {
    border-top: 2px solid;
}

.b2-s-r {
    border-right: 2px solid;
}

.b2-s-b {
    border-bottom: 2px solid;
}

.b2-s-l {
    border-left: 2px solid;
}

.b3-s {
    border: 3px solid;
}

.b3-s-t {
    border-top: 3px solid;
}

.b3-s-r {
    border-right: 3px solid;
}

.b3-s-b {
    border-bottom: 3px solid;
}

.b3-s-l {
    border-left: 3px solid;
}

/* Border Rounding*/
.br-1{
    border-radius: 0.5rem;
}
.br-2 {
    border-radius: 1rem;
}
.br-3 {
    border-radius: 2rem;
}
.br-4 {
    border-radius: 3rem;
}
.br-5 {
    border-radius: 5rem;
}.br-6 {
    border-radius: 7rem;
}

/*Display*/

.d-flex,
.d-f {
    display: flex;
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

.d-none,
.d-n {
    display: none;
}

.d-inline-block {
    display: inline-block;
}

/*Flex-Options*/

.flex1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow-1 {
    flex-grow: 1;
}

.fb-3 {
    flex-basis: 33.3%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/*Flex Basis*/
.fb-3 {
    flex-basis: 33.3%;
}

.fb-3-5 {
    flex-basis: 35%;
}

.fb-30 {
    flex-basis: 30%;
}

.fb-65 {
    flex-basis: 65%;
}

.fb-quarter {
    flex-basis: 25%;
}

.justify-content-center,
.f-jc {
    justify-content: center;
}

.justify-content-between,
.f-jb {
    justify-content: space-between;
}

.justify-content-around,
.f-ja {
    justify-content: space-around;
}

.justify-content-evenly,
.f-jse {
    justify-content: space-evenly;
}

.justify-content-start,
.f-js {
    justify-content: start;
}

.justify-content-end,
.f-je {
    justify-content: end;
}

.align-items-center,
.f-ac {
    align-items: center;
}

.align-items-start,
.f-as {
    align-items: flex-start;
}

.align-items-end,
.f-ae {
    align-items: flex-end;
}

.align-items-stretch,
.f-ast {
    align-items: stretch;
}

.fd-c {
    flex-direction: column;
}

.fd-r {
    flex-direction: row;
}

/*Cursor*/

.cursor-pointer {
    cursor: pointer;
}

.cursor-progress {
    cursor: progress;
}

.cursor-notallowed {
    cursor: not-allowed;
}

/*IMG*/

.img-h {
    height: 100%;
    width: auto;
}

.img-w {
    width: 100%;
    height: auto;
}

/*Visibility*/

.vis-visible {
    visibility: visible;
}

.vis-hidden {
    visibility: hidden;
}

.vis-collapse {
    visibility: collapse;
}

/*Overflow*/

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}

/*Text-Decoration*/

.deco-underline {
    text-decoration: underline;
}

.deco-line-through {
    text-decoration: line-through;
}

.deco-overline {
    text-decoration: overline;
}

.deco-none {
    text-decoration: none;
}

/*Text-Decoration*/

.text-bold {
    font-weight: bold;
}

.text-no-bold {
    font-weight: normal;
}

.text-medium {
    font-weight: 500;
}

.text-semi-bold {
    font-weight: 600;
}

.text-no-wrap {
    white-space: nowrap;
}

.text-italic {
    font-style: italic;
}

.text-uppercase{
    text-transform: uppercase;
}

/*Text-Sizes*/
.text-small {
    font-size: 0.7rem;
}

.text-medium {
    font-size: 1.3rem;
}

.text-large {
    font-size: 2rem;
}

.text-align-center {
    text-align: center;
}

.text-align-end {
    text-align: end;
}

.text-align-start {
    text-align: start;
}

/*Positions*/

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.position-sticky {
    position: sticky;
}

/*Absolut-Values*/

.right-0 {
    right: 0;
}

.right-10 {
    right: 10px;
}

.right-50 {
    right: 50px;
}

.bottom-0 {
    bottom: 0;
}

.bottom-10 {
    bottom: 10px;
}

.bottom-50 {
    bottom: 50px;
}

.left-0 {
    left: 0;
}

.left-10 {
    left: 10px;
}

.left-50 {
    left: 50px;
}

.top-0 {
    top: 0;
}

.top-10 {
    top: 10px;
}

.top-50 {
    top: 50px;
}

/*Full-Space*/

.w25p {
    width: 25%;
}

.w50p {
    width: 50%;
}

.w100p {
    width: 100%;
}

.h25p {
    height: 25%;
}

.h50p {
    height: 50%;
}

.h100p {
    height: 100%;
}

/*Grid-Wrapper*/

.bx-wrap,
.bx--col-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/*Colors (IBM)*/

.col-rela-dark-red{
    color: #6A0C00
}

.col-rela-dark-gray{
    color: #353333
}

.col-ibm-white,
.col-fff {
    color: #fff;
}

.col-ibm-black,
.col-000 {
    color: #000;
}

.bcol-rela-light-red{
    background-color: #FDE8E7;
}



.bcol-ibm-white,
.bcol-fff {
    background-color: #fff;
}

.bcol-ibm-black,
.bcol-000 {
    background-color: #000;
}



.borcol-ibm-white,
.borcol-fff {
    color: #fff;
}

.borcol-ibm-black,
.borcol-000 {
    color: #000;
}

/*onHover*/

.hov-deco-underline:hover {
    text-decoration: underline;
}

/* animation */
@keyframes spinClockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinCounterClockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/*VisibleOn*/

.on-mobile,
.on-tablet,
.on-desktop {
    display: none;
}

@media screen and (max-width: 42rem) and (min-width: 0rem) {
    .on-mobile {
        display: block;
    }
}

@media screen and (max-width: 66rem) and (min-width: 42rem) {
    .on-tablet {
        display: block;
    }
}

@media screen and (min-width: 66rem) {
    .on-desktop {
        display: block;
    }
}