/* Import Lato and Inter from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');
:root {
  --primary-color: #f5bfbe;
  --primary-color-darker: #6a0c00;
  --text-color-light: #777777;
  --text-color-disabled: #666;
  --text-white: #ffffff;
  --text-red: #d32f2f;
  --background-color-disabled: #ccc;
  --border-radius: 10px;
  --font-size: 16px;
  --font-family: 'Lato', sans-serif;
  --transition-duration: 0.3s;
  --padding-vertical: 10px;
  --padding-horizontal: 10px;
}

/* Base font for all text */
body {
  font-family: 'Lato', sans-serif;
  color: #353333;
  font-weight: 400; /* For Firefox on macOS */
}

/* Override h1 to use Inter */
h1 {
  font-family: 'Inter', sans-serif;
}

/* Base button styling */
.btn {
  font-size: 0.97em;
  font-size: var(--font-size);
  font-family: var(--font-family);

  padding: var(--padding-vertical) var(--padding-horizontal);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-duration),
    transform var(--transition-duration);
}

/* Primary button - White text on Red */
.btn-primary {
  background-color: var(--primary-color-darker);
  color: var(--text-white);
}

.btn-primary:hover {
  background-color: #b71c1c;
  /* Darker red */
}

/* Secondary button - Red text on Light Red */
.btn-secondary {
  background-color: #fff;
  border: 1px solid var(--primary-color-darker);
  color: var(--text-red);
}

.btn-secondary:hover {
  background-color: #e8a7a6;
  /* Slightly darker light red */
}

.disabled {
  background-color: #c4c4c4;
  cursor: not-allowed;
}
.disabled:hover {
  background-color: #c4c4c4;
  cursor: not-allowed;
}

.rela-nav:hover {
  border-top: var(--primary-color-darker) solid 3px;
}
.rela-nav {
  border-top: solid 3px transparent;
  transition: border-color 0.3s ease-in-out; /* Optional: Add a smooth transition */
}
.rela-nav-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  right: 1rem;
  /* temp for testing spacing issues */
}
body {
  margin: 0;
  background-color: #fde8e7;
}
